body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: rgb(235, 235, 235);
}

header {
    padding-top: 1px;
    padding-bottom: 2px;
    width: 100%;
    height: 70px;
    background-color: rgb(37, 37, 37);
    color: white;
    display: flex;
    align-items: center;
}

header h1 {
    margin-left: 300px;
    font-size: 30px;
}

li {
    font-weight: 700;
    display: inline;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

li a {
    color: white;
    text-decoration: none;
}

li:hover {
    opacity: 0.5;
}

.atalho {
    width: 430px;
    height: 250px;
    background: linear-gradient(0.25turn, #202020, #0a0a0a);
    position: absolute;
    top: 60%;
    left: 60%;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 0px 20px black;
}

.atalho h1,
h2,
button {
    margin-left: 30px;
}

.atalho h1 {
    font-size: 40px;
}

.atalho h2 {
    font-size: 17px;
    font-weight: 500;
}

.atalho button {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.5s;
}

.atalho button:hover {
    width: 210px;
    height: 55px;
    opacity: 0.7;
}

.container {
    margin-top: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.container p {
    text-align: center;
    width: 700px;
}

footer {
    height: 200px;
    background: linear-gradient(0.25turn, #202020ea, #000000);
}

.help {
    padding: 10px;
    width: 300px;
    color: white;
    margin-left: 150px;
}

.help,
h1 {
    font-size: 18px;
}

.help h2 {
    font-weight: 500;
    font-size: 15px;
    margin-left: 1px;
}

.sobre {
    padding: 10px;
    width: 300px;
    color: white;
    position: relative;
    left: 40%;
    top: -58%;
}

.sobre,
h1 {
    font-size: 18px;
}

.sobre h2 {
    font-weight: 400;
    font-size: 15px;
    margin-left: 1px;
}

.infos p {
    margin-top: 100px;
}

section {
    height: 450px;
}

.cards {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    margin-top: 40px;
}

.cards p {
    cursor: pointer;
    width: 20%;
    margin: 50px;
    background-color: rgba(0, 0, 0, 0.842);
    height: 300px;
    border-radius: 10px;
    transition: all 0.9s;
    box-shadow: 0px 0px 20px black;
}

.cards img {
    width: 100px;
    height: 100px;
    position: relative;
    left: 20%;
    margin-top: 30px;
}

.cards nome {
    position: relative;
    top: 30%;
    left: -20%;
    font-weight: 700;
    font-size: 30px;
}

.cards p:hover {
    margin-top: 30px;
}